/* Základní styl stránky */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* Styl navigační lišty */

header {
    background-color: #333;
    color: white;
    padding: 0; /* zvětšený horní a dolní padding */
    margin: 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 18px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ddd;
}

/* Styl pro sekci */
.section {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Styl pro první sekci */
.background-section {
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    background-image: url("/img/WebAnimace.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: calc((100% - 100vw) / 2); /* Zarovná sekci na střed */
    padding-top: 60px; /* Posunutí obsahu dolů, aby byl viditelný pod navigační lištou */
    margin-top: -33px; /* Posune sekci přímo pod navigaci */
}

/* Středový obsah s dalším posunem nahoru */
.center-content {
    position: absolute;
    bottom: 60%; /* Posun ještě více nahoru */
    left: 20%; /* Zůstává více vlevo */
    transform: translate(-50%, -50%);
    text-align: left;
    color: #000;
}

.center-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.center-content .button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.center-content .button:hover {
    background-color: #555;
}

/* Kontejner pro SVG prvky */
.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Styl pro domek */
.domek {
    position: absolute;
    left: 35%; /* Posun doprava */
    bottom: 23%; /* Posun více nahoru */
    width: 1000px; /* Další zvětšení domku */
    height: auto;
}

.text-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.text-container .button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.text-container .button:hover {
    background-color: #555;
}

.solary {
    position: absolute;
    left: 62%;
    bottom: 27%;
    width: 500px;
}

/* Styl pro stromek */
.strom {
    position: absolute;
    left: 15%; /* Posun doprava vedle domku */
    bottom: 10%; /* Upravte, aby byl ve stejné výšce jako domek */
    width: 600px; /* Zvýšení velikosti stromku */
    height: auto;
}


.bagr {
    position: absolute;
    left: 15%;
    bottom: -5%;
    width: 500px;
}

.kameny {
    position: absolute;
    left: 53%;
    bottom: 0;
    width: 303px;
}

/* Styl pro okna */
.okno1, .okno2 {
    position: absolute;
    width: 400px; /* Zvětšení okna, upravte dle potřeby */
    height: auto;
}

/* Umístění levého okna */
.okno1 {
    left: 54%; /* Upravená pozice levého okna na domku */
    bottom: 20%; /* Upravená výška levého okna na domku */
}

/* Umístění pravého okna */
.okno2 {
    left: 30%; /* Upravená pozice pravého okna na domku */
    bottom: 17%; /* Upravená výška pravého okna na domku */
}

/* Styl pro dollar */
.dollar {
    position: absolute;
    left: 70%; /* Pozice vedle domku, upravte podle potřeby */
    bottom: -5%; /* Výška nad trávou, upravte podle potřeby */
    width: 400px; /* Velikost dollaru, upravte podle potřeby */
    height: auto;
}
